*{
	font-family:helvetica;
}
body{
	background:#333;
}
div.container > div{
	background:#fff;
}

#body{
	padding-top:3em;
	padding-bottom:3em;
}
/*
	Navigation
*/
#navigation{
}
#navigation li{
	display:inline;
}
#navigation a{
	color:#333;
	font-weight:bold;
	text-decoration:none;
	background:#fff;
	padding:0.5em;
	font-size:120%;
}
#navigation a:hover{
	background:#333;
	color:#fff;
}
/*
	Header
*/
div.container #header{
	background:none;
	margin-top:1em;
}
div.container #header h1{
	color:#eee;
	margin:0;
}
div.container #body{
	padding-bottom:2em;
}
/*
	Footer
*/
div.container #footer{
	margin-top:1em;
	background:#eee;
	padding:0.25em 0;
	text-align:center;
}
/*
	Issues
*/
.issues td{
	padding:1em;
	border:thin solid #fff;
}

/*
	Issue statuses
*/
.status-acknowledged{
	background:#ece;
}
.status-resolved{
	background:#cec;
}
.status-open{
	background:#ecc;
}
.status-closed{
	background:#ccc;
}
.status-unreproducible{
	background:#eec;
}
.issues.view .clip{
	width:100px;
	padding:2em;
	margin-top:-3em;
	text-align:center;
	float:right;
	font-weight:bold;
}
.issues.view .title{
}
.issues.view .description{
}

.issues .list .issue{
	padding:0.5em;
	background:#eee;
	margin-bottom:0.25em;
	
}
/*
	Projects
*/
.projects .list .project{
	padding:0.5em;
	background:#eee;
	margin-bottom:0.25em;
}
/*
	Users
*/
.users.login form{
	margin: 4em auto;
	background:#eee;
	padding:4em 0;
	text-align:center;
	border: thin solid #aaa;
}

/*
	Annotations
*/
.annotations .annotation{
	padding:0.5em 0;
	background: #eee;
	margin-bottom:0.25em;
}
.annotations .annotation img{
	margin:0.5em 1em;
}

.annotations form textarea{
	width:100%;
	height:6em;
	display:block;
}
/*
	Form
*/
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}
fieldset {
	border: 1px solid #ccc;
	margin-bottom: 1em;
	padding: 16px 20px;
}
fieldset legend {
	background:#fff;
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form .input {
	color: #444;
}
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: block;
	font-size: 110%;
	margin-bottom:3px;
}
input, textarea {
	clear: both;
	font-size: 140%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 1%;
	width:98%;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
	width: auto;
}
form .submit input[type=submit] {
	background:#62af56;
	background: -webkit-gradient(linear, left top, left bottom, from(#a8ea9c), to(#62af56));
	background-image: -moz-linear-gradient(top, #a8ea9c, #62af56);
	border-color: #2d6324;
	color: #000;
	text-shadow: #8cee7c 0px 1px 0px;
}
form .submit input[type=submit]:hover {
	background:#4ca83d;
	background: -webkit-gradient(linear, left top, left bottom, from(#85e573), to(#4ca83d));
	background-image: -moz-linear-gradient(top, #85e573, #4ca83d);
}
/** Debugging **/
pre {
	color: #000;
	background: #f0f0f0;
	padding: 1em;
}
pre.cake-debug {
	background: #ffcc00;
	font-size: 120%;
	line-height: 140%;
	margin-top: 1em;
	overflow: auto;
	position: relative;
}
div.cake-stack-trace {
	background: #fff;
	color: #333;
	margin: 0px;
	padding: 6px;
	font-size: 120%;
	line-height: 140%;
	overflow: auto;
	position: relative;
}
div.cake-code-dump pre {
	position: relative;
	overflow: auto;
}
div.cake-stack-trace pre, div.cake-code-dump pre {
	color: #000;
	background-color: #F0F0F0;
	margin: 0px;
	padding: 1em;
	overflow: auto;
}
div.cake-code-dump pre, div.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
div.cake-code-dump span.code-highlight {
	background-color: #ff0;
	padding: 4px;
}
div.code-coverage-results div.code-line {
	padding-left:5px;
	display:block;
	margin-left:10px;
}
div.code-coverage-results div.uncovered span.content {
	background:#ecc;
}
div.code-coverage-results div.covered span.content {
	background:#cec;
}
div.code-coverage-results div.ignored span.content {
	color:#aaa;
}
div.code-coverage-results span.line-num {
	color:#666;
	display:block;
	float:left;
	width:20px;
	text-align:right;
	margin-right:5px;
}
div.code-coverage-results span.line-num strong {
	color:#666;
}
div.code-coverage-results div.start {
	border:1px solid #aaa;
	border-width:1px 1px 0px 1px;
	margin-top:30px;
	padding-top:5px;
}
div.code-coverage-results div.end {
	border:1px solid #aaa;
	border-width:0px 1px 1px 1px;
	margin-bottom:30px;
	padding-bottom:5px;
}
div.code-coverage-results div.realstart {
	margin-top:0px;
}
div.code-coverage-results p.note {
	color:#bbb;
	padding:5px;
	margin:5px 0 10px;
	font-size:10px;
}
div.code-coverage-results span.result-bad {
	color: #a00;
}
div.code-coverage-results span.result-ok {
	color: #fa0;
}
div.code-coverage-results span.result-good {
	color: #0a0;
}
/*
	SQL log
*/
.cake-sql-log{
	background:#fff;
	margin-top:2em;
}
.cake-sql-log table {
	background: #f4f4f4;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
	font-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log caption {
	color:#fff;
}